div {
	display: inline;
	color: yellow;
	margin: 10px;
}
nav {
	display: inline;
	font: inherit;
	margin: 0.5px;
}
header {
	background: blue;
	color: white;
	display: flex;
	padding: 3px;
}
body {
	background: black;
	color: white;
}
button {
	border-radius: 50%;
	background: grey;
	color: white;
	margin: 10px;
	padding: 15px;
}
a {
	color : white;
}

gr {
	color : green;
}

blu {
	color : blue;
}

red {
	color :red;
}

violet {
	color :violet;
}